<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body style="margin: 0px; width: 100%; height: 100%;">
    <div id='root' style='border-radius: 25px; background-color: #0D253A;'></div>
  </body>
</html>